@import 'quasar/src/css/variables.sass';

:root {
  /* ===== Quasar runtime colors ===== */
  --q-primary: #1976d2;
  --q-secondary: #26a69a;
  --q-accent: #9c27b0;
  --q-positive: #21ba45;
  --q-negative: #c10015;
  --q-info: #31ccec;
  --q-warning: #f2c037;
  --q-dark: #1d1d1d;

  /* ===== main colors of ColorCode game ===== */
  --lw-color-code-red: #ff006e;
  --lw-color-code-blue: #3a86ff;
  --lw-color-code-yellow: #ffed66;
  --lw-color-code-green: #16db65;
  --lw-color-code-brown: #d09259;

  --lw-color-code-grey: #c6c6c6;

  /* ===== App base text colors ===== */
  --lw-main-text-color: #383838;

  /* ===== App base layout background ===== */
  --lw-layout-bg-color: #fff9d9;

  /* ===== App modal layout ===== */
  --lw-layout-bg-color: #fff9d9;
  --lw-modal-header-bg-color: #c1b467;
  --lw-modal-btn-icon-color: #6186ad;

  /* ===== home-page ===== */
  --lw-title-color: #6e00ae;
  --lw-title-shadow-color: #3c057f;
  --lw-page-border-color: #fff;
  --lw-home-page-nav-icon-color: #ee7402;
  --lw-home-page-nav-label-color: #acacac;
  --lw-home-page-nav-label-color-hover: #fff;
  --lw-home-page-copy-text: #7e7e7e;

  /* ===== intro-page ======*/
  --lw-intro-bg-color: #fff;
  --lw-intro-border-square-color: #333;
  --glow-color: #ffce5c;

  --lw-theme-switcher-icon-color: #133a9e;
  --lw-theme-switcher-icon-color-active: #d07035;

  /* ===== App backgrounds ===== */
  --lw-bg-home: url('@/assets/img/bg/home/home.jpg') bottom center / cover no-repeat;
}

.body--dark {
  /* ===== Quasar runtime colors ===== */
  --q-primary: #8ab4f8;
  --q-secondary: #4db6ac;
  --q-accent: #9c27b0;
  --q-positive: #57d487;
  --q-negative: #ff7b72;
  --q-info: #69d2ff;
  --q-warning: #ffd166;
  --q-dark: #111827;

  /* ===== main colors of ColorCode game ===== */
  --lw-color-code-red: #ff006e;
  --lw-color-code-blue: #3a86ff;
  --lw-color-code-yellow: #ffed66;
  --lw-color-code-green: #16db65;
  --lw-color-code-brown: #d09259;

  --lw-color-code-grey: #c6c6c6;

  /* ===== App base text colors ===== */
  --lw-main-text-color: #fff;

  /* ===== App base layout background ===== */
  --lw-layout-bg-color: #4a4839;

  /* ===== App modal layout ===== */
  --lw-layout-bg-color: #4a4839;
  --lw-modal-header-bg-color: #3e5875;
  --lw-modal-btn-icon-color: #6186ad;

  /* ===== home-page ===== */
  --lw-title-color: #8f64a8;
  --lw-title-shadow-color: #3d0384;
  --lw-page-border-color: #a6a6a6;
  --lw-home-page-nav-icon-color: #ffae61;
  --lw-home-page-nav-label-color: #91a5c1;
  --lw-home-page-nav-label-color-hover: #b4d3ff;
  --lw-home-page-copy-text: #91a5c1;

  /* ===== intro-page ======*/
  --lw-intro-bg-color: #000;
  --lw-intro-border-square-color: #c1c1c1;
  --glow-color: #ffce5c;

  --lw-theme-switcher-icon-color: #265be0;
  --lw-theme-switcher-icon-color-active: #ec8444;
  /* ===== App backgrounds ===== */
  --lw-bg-home: url('@/assets/img/bg/home/home_dark.jpg') bottom left / cover no-repeat;
}
