@import './app-base-variables.scss';

// ==========================================
// ГЛОБАЛЬНАЯ ОБЁРТКА (тянется на весь экран)
// ==========================================
.base-wrapper {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;

  background-color: var(--lw-layout-bg-color);
}

// ==========================================
// ГЛОБАЛЬНЫЙ КОНТЕЙНЕР (ограничивает ширину)
// ==========================================
.base-container {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

// ==========================================
// 1. БАЗОВЫЕ СТИЛИ (Desktop First — 1920px и выше)
// ==========================================

// ==========================================
// 2. НОУТБУКИ (до 1439px)
// ==========================================
@media (max-width: 1439px) {
}

// ==========================================
// 4. НОУТБУКИ, ПЛАНШЕТЫ (до 1023px)
// ==========================================
@media (max-width: 1023px) {
}

// ==========================================
// 5. ПЛАНШЕТЫ (до 768px)
// ==========================================
@media (max-width: 767px) {
}

// ==========================================
// 6. МОБИЛЬНЫЕ УСТРОЙСТВА (до 599px)
// ==========================================
@media (max-width: 599px) {
}

// ==========================================
// 7. МОБИЛЬНЫЕ УСТРОЙСТВА (до 424px)
// ==========================================
@media (max-width: 599px) {
}

// ==========================================
// 8. МОБИЛЬНЫЕ УСТРОЙСТВА (до 320px)
// ==========================================
@media (max-width: 599px) {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
