.modal {
  max-width: unset;
  width: 500px;
  padding: 0;
  margin: 0;
  background-color: var(--lw-layout-bg-color);

  &-header {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: var(--lw-modal-header-bg-color);

    &__title {
      display: flex;
      align-items: center;

      &-icon {
        margin-right: 10px;
        font-size: 26px;
        color: var(--lw-main-text-color);
      }

      &-value {
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        color: var(--lw-main-text-color);
        user-select: none;
      }
    }

    &__icon-close {
      color: var(--lw-main-text-color);
    }
  }

  &-row {
    width: 100%;
    padding: 10px 16px;
    display: flex;
    align-items: center;
  }

  &-field {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;

    &_w40 {
      width: 40%;
    }

    &_w60 {
      width: 60%;
    }

    &__icon {
      margin-right: 10px;
      font-size: 20px;
      color: var(--lw-main-text-color);
    }

    &__label {
      font-size: 16px;
      color: var(--lw-main-text-color);
      user-select: none;
    }
  }
}

// ==========================================
// 2. НОУТБУКИ (до 1439px)
// ==========================================
@media (max-width: 1439px) {
}

// ==========================================
// 3. ПЛАНШЕТЫ (до 1023px)
// ==========================================
@media (max-width: 1023px) {
  .modal {
    width: 400px;
  }
}

// ==========================================
// 4. МОБИЛЬНЫЕ УСТРОЙСТВА (до 599px)
// ==========================================
@media (max-width: 599px) {
  .modal {
    width: 90%;

    &-header {
      height: 40px;
      padding: 0 8px;
      margin-bottom: 20px;

      &__title {
        &-icon {
          margin-right: 6px;
          font-size: 22px;
        }

        &-value {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }

    &-row {
      padding: 10px 8px;
    }

    &-field {
      &__icon {
        margin-right: 10px;
        font-size: 20px;
      }

      &__label {
        font-size: 14px;
      }

      :deep(.q-btn--round) {
        min-width: unset;
        min-height: unset;
      }
    }
  }
}
